@page
@model ShopAroundTheCorner.Pages.PurchaseCompleteModel
@{
}

<div class="text-center">
    <h2>Thank you! Your purchase is complete!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>