@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Shop Around The Corner</h1>
</div>
<div class="text-center">
    <img src="https://i.etsystatic.com/28768438/r/il/2edda2/2998675518/il_500x500.2998675518_ssb5.jpg"/>
</div>

